In [2]:
import pandas as pd

In [3]:
estacoes = pd.read_excel('../../../data/Estacoes.xlsx')
estacoes

,BaciaCodigo,SubBaciaCodigo,RioCodigo,EstadoCodigo,MunicipioCodigo,ResponsavelCodigo,ResponsavelUnidade,ResponsavelJurisdicao,OperadoraCodigo,OperadoraUnidade,...,TipoRedeEstrategica,TipoRedeCaptacao,TipoRedeSedimentos,TipoRedeQualAgua,TipoRedeClasseVazao,UltimaAtualizacao,Operando,Descricao,Historico,NumImagens
0,1,19,NaN,5,5007000,1,27.0,1.0,82,5.0,...,0.0,7.0,0.0,0.0,0.0,2017-05-17,1,AUTOMÁTICA - AGSOLVE,OCORRÊNCIAS RELEVANTES OBSERVADAS\nDATA\tTIPO ...,1
1,1,19,NaN,5,5025000,1,27.0,1.0,82,5.0,...,0.0,7.0,0.0,0.0,0.0,2019-12-17,1,AUTOMÁTICA - IRIS-150,OCORRÊNCIAS RELEVANTES OBSERVADAS\nDATA\tTIPO ...,2
2,1,19,NaN,5,5065000,1,27.0,1.0,82,5.0,...,0.0,7.0,0.0,0.0,0.0,2020-01-30,1,AUTOMÁTICA - AGSOLVE,OCORRÊNCIAS RELEVANTES OBSERVADAS\nDATA\tTIPO ...,2
3,1,19,NaN,5,5020000,1,27.0,1.0,82,5.0,...,0.0,7.0,0.0,0.0,0.0,2018-07-06,1,AUTOMÁTICA - IRIS-150,04/04/07)\nConcluída a instalação do cercado d...,1
4,1,19,NaN,5,5025000,56,NaN,NaN,56,NaN,...,0.0,3.0,0.0,0.0,0.0,2010-03-30,1,NaN,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38118,8,89,89030000.0,61,61080000,901,NaN,NaN,901,NaN,...,0.0,7.0,0.0,0.0,0.0,2017-10-31,1,NaN,NaN,0
38119,8,89,89110000.0,61,61140000,901,NaN,NaN,901,NaN,...,0.0,0.0,0.0,0.0,0.0,2020-06-08,1,NaN,NaN,0
38120,8,89,89110000.0,61,61140000,901,NaN,NaN,901,NaN,...,0.0,0.0,0.0,0.0,1.0,2017-10-31,1,NaN,NaN,0
38121,8,89,89050000.0,61,61130000,901,NaN,NaN,901,NaN,...,0.0,7.0,0.0,0.0,0.0,2017-10-31,1,NaN,NaN,0
38122,8,89,89110000.0,61,61130000,901,NaN,NaN,901,NaN,...,0.0,7.0,0.0,0.0,0.0,2020-06-08,0,NaN,14/04/2011: \nAlterado o valor da área de dren...,0

In [28]:
estacoes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38123 entries, 0 to 38122
Data columns (total 66 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   BaciaCodigo                    38123 non-null  int64
 1   SubBaciaCodigo                 38123 non-null  int64
 2   RioCodigo                      16538 non-null  float64
 3   EstadoCodigo                   38123 non-null  int64
 4   MunicipioCodigo                38123 non-null  int64
 5   ResponsavelCodigo              38123 non-null  int64
 6   ResponsavelUnidade             12523 non-null  float64
 7   ResponsavelJurisdicao          11803 non-null  float64
 8   OperadoraCodigo                38123 non-null  int64
 9   OperadoraUnidade               9705 non-null   float64
 10  OperadoraSubUnidade            9442 non-null   float64
 11  TipoEstacao                    38123 non-null  int64
 12  Codigo                         38123 non-null  int64
 13  Nome                           38123 non-null  object
 14  CodigoAdicional                18131 non-null  object
 15  Latitude                       38123 non-null  float64
 16  Longitude                      38123 non-null  float64
 17  Altitude                       23908 non-null  float64
 18  AreaDrenagem                   12182 non-null  float64
 19  TipoEstacaoEscala              38123 non-null  int64
 20  TipoEstacaoRegistradorNivel    38123 non-null  int64
 21  TipoEstacaoDescLiquida         38123 non-null  int64
 22  TipoEstacaoSedimentos          38123 non-null  int64
 23  TipoEstacaoQualAgua            38123 non-null  int64
 24  TipoEstacaoPluviometro         38123 non-null  int64
 25  TipoEstacaoRegistradorChuva    38123 non-null  int64
 26  TipoEstacaoTanqueEvapo         38123 non-null  int64
 27  TipoEstacaoClimatologica       38123 non-null  int64
 28  TipoEstacaoPiezometria         38123 non-null  int64
 29  TipoEstacaoTelemetrica         38123 non-null  int64
 30  PeriodoEscalaInicio            11959 non-null  datetime64[ns]
 31  PeriodoEscalaFim               5394 non-null   datetime64[ns]
 32  PeriodoRegistradorNivelInicio  1048 non-null   datetime64[ns]
 33  PeriodoRegistradorNivelFim     729 non-null    datetime64[ns]
 34  PeriodoDescLiquidaInicio       8204 non-null   datetime64[ns]
 35  PeriodoDescLiquidaFim          3631 non-null   datetime64[ns]
 36  PeriodoSedimentosInicio        2519 non-null   datetime64[ns]
 37  PeriodoSedimentosFim           562 non-null    datetime64[ns]
 38  PeriodoQualAguaInicio          7703 non-null   datetime64[ns]
 39  PeriodoQualAguaFim             1251 non-null   datetime64[ns]
 40  PeriodoPluviometroInicio       20926 non-null  datetime64[ns]
 41  PeriodoPluviometroFim          7569 non-null   datetime64[ns]
 42  PeriodoRegistradorChuvaInicio  3541 non-null   object
 43  PeriodoRegistradorChuvaFim     1740 non-null   datetime64[ns]
 44  PeriodoTanqueEvapoInicio       2064 non-null   datetime64[ns]
 45  PeriodoTanqueEvapoFim          1079 non-null   datetime64[ns]
 46  PeriodoClimatologicaInicio     1932 non-null   datetime64[ns]
 47  PeriodoClimatologicaFim        969 non-null    datetime64[ns]
 48  PeriodoPiezometriaInicio       164 non-null    datetime64[ns]
 49  PeriodoPiezometriaFim          78 non-null     datetime64[ns]
 50  PeriodoTelemetricaInicio       12035 non-null  datetime64[ns]
 51  PeriodoTelemetricaFim          1524 non-null   datetime64[ns]
 52  TipoRedeBasica                 37863 non-null  float64
 53  TipoRedeEnergetica             38051 non-null  float64
 54  TipoRedeNavegacao              37800 non-null  float64
 55  TipoRedeCursoDagua             37943 non-null  float64
 56  TipoRedeEstrategica            37823 non-null  float64
 57  TipoRedeCaptacao               37799 non-null  float64
 58  TipoRedeSedimentos             37945 non-null  float64
 59  TipoRedeQualAgua               37913 non-null  float64
 60  TipoRedeClasseVazao            37840 non-null  float64
 61  UltimaAtualizacao              36461 non-null  datetime64[ns]
 62  Operando                       38123 non-null  int64
 63  Descricao                      14149 non-null  object
 64  Historico                      18640 non-null  object
 65  NumImagens                     38123 non-null  int64
dtypes: datetime64[ns](22), float64(18), int64(21), object(5)
memory usage: 19.2+ MB

In [4]:
estacoes = estacoes[['Codigo', 'Nome', 'Latitude', 'Longitude', 'TipoEstacao']]

In [5]:
estacoes[estacoes['Nome'] == 'JANUÁRIA']

         Codigo      Nome  Latitude  Longitude  TipoEstacao
8314    1544006  JANUÁRIA  -15.4833   -44.3667            2
8315    1544007  JANUÁRIA  -15.4833   -44.3667            2
8322    1544015  JANUÁRIA  -15.4833   -44.3667            2
8329    1544022  JANUÁRIA  -15.4667   -44.3667            2
8338    1544031  JANUÁRIA  -15.4000   -44.3667            2
8341    1544035  JANUÁRIA  -15.4842   -44.3672            2
8345    1544039  JANUÁRIA  -15.4756   -44.3700            2
26804  44251000  JANUÁRIA  -15.5047   -44.7567            1
26808  44270000  JANUÁRIA  -15.7061   -44.5900            1
26814  44300000  JANUÁRIA  -15.4833   -44.3667            1
26815  44300001  JANUÁRIA  -15.4833   -44.3667            1
26816  44300002  JANUÁRIA  -15.4667   -44.3667            1

In [6]:
estacoes

,Codigo,Nome,Latitude,Longitude,TipoEstacao
0,49009,ANAJÁS,-0.9853,-49.9394,2
1,49010,CHAVES,-0.1656,-49.9786,2
2,49011,SANTA CRUZ DO ARARI,-1.0158,-48.9597,2
3,49012,CACHOEIRA DO ARARI,-0.6653,-49.1711,2
4,50000,CHAVES,-0.1500,-50.0000,2
...,...,...,...,...,...
38118,89500000,"LA CHARQUEADA, Rio Cebollati",-33.2033,-53.7964,1
38119,89600000,"PASO BARRANCAS, Rio San Luis",-33.6314,-53.8067,1
38120,89620000,"SAN LUIS, Rio San Luis",-33.6017,-53.7242,1
38121,89625000,PUNTA SAN LUIS,-33.5217,-53.5428,1
38122,89630000,"SUB RECEPTORIA, Rio San Luís",-33.5544,-53.6142,1

In [16]:
from AppAgriClima.models import Estacao


# Supondo que 'df' seja o seu DataFrame
for index, row in estacoes.iterrows():
    item = Estacao(
        Codigo = row['Codigo'],
        Nome = row['nome'],
        Latitude = row['Latitude'],
        Longitude = row['Longitude'],
        TipoEstacao = row['TipoEstacao'],
    )
    item.save()

ModuleNotFoundError: No module named 'AppAgriClima'

In [18]:
estacoes.to_csv('../../../data/Estacao_tratada.csv')